#main-header::before {
  background-image: linear-gradient(to right, #4b74b3, #4f4f8d);
  background-size: cover;
  height: 65px;
  width: 100%;
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  z-index: -1;
  content: '';
}

#main-navbar {
  height: 50px;
  width: 100%;
  border-bottom: 1.3px solid lightgrey;
}

#main-display::before {
  height: calc(100vh - 105px);
  width: 100%;
  background-color: rgb(244, 247, 250);
  display: block;
  z-index: -1;
  content: '';
  position: absolute;
  left: 0;
}

#main-display-box {
  margin-top: 20px;
  border-radius: 5px;
  background-color: white;
  height: 460px;
  box-shadow: 0 0 2px lightgrey;
}

#main-logo {
  width: 180px;
  height: 54px;
}

.navs {
  margin-top: 15px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  color: black;
  opacity: 0.7;

  &:hover {
    cursor: pointer;
    border-bottom: 1px solid grey;
  }

  a:hover {
    text-decoration: none;
    color: black;
  }

  a:visited {
    color: black;
    opacity: 0.7;
  }


  &:active {
    opacity: 1;
  }
}

.dashboard-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.inline-block-items {
  display: inline-block;
}

ul {
  list-style-type: none;
}

